<html>
    <head>
        <title>DeepEnd Eliminator Standings</title>
        <script src="js/sortable.js"></script>

        <style type="text/css">
            table.sortable thead {
                background-color:#eee;
                color:#666666;
                font-weight: bold;
                cursor: default;
            }
        </style>
    </head>
    <body>
        <h1>Standings for week {{ week }}</h1>
        <table class="sortable">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Points</th>
                    <th>Original Projected Points</th>
                </tr>
            </thead>
            <tbody>
                {% for team in standings %}
                <tr>
                    <td>{{ team['name'] }}</td><td>{{ team['points'] }}</td><td>{{ team['projected_points'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>